.vagrant
Berksfile.lock
*~
*#
.#*
\#*#
.*.sw[a-z]
*.un~
/cookbooks

# Bundler
Gemfile.lock
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml

# OSX files
.DS_Store
.AppleDouble
.LSOverride

# OSX: Icon must ends with two \r.
Icon

# OSX: Thumbnails
._*

# OSX: Files that might appear on external disk
.Spotlight-V100
.Trashes
